body
{
  background:  #02010a;
  font-family: 'Dancing Script';
  color: white;
}

header
{
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
	padding: 0px;
	width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;

}

header h1{
  width: 80%;

}
#menu{
  margin: auto;
  text-decoration: none;
}
footer {
  background: #C6d5c5;
  color: black;
  border-radius: 0px 0px 10px 10px;
	margin:0px;
	padding-top: 10px;
}
#contenedor{
  display: flex;
  flex-flow: row wrap;
}

#contenedor h2{
  text-align: center;
}

.columna1, .columna2, .columna3, .columna4
{
  text-align: justify;
  width: 25%;
}

img{
  display: block;
  margin: auto;
}
#contenido div {
	box-sizing: border-box;
	min-width: 150px;
	padding: 20px;
}

.imgPrincipal{
  background: #82c3a6;
}

.imgPrincipal img{
  width: 80%;
}

.imagen1, .imagen2{
  background: #d5c75f;
  width: 50%;
}
.imagen1 img{
width: 80%;
}
.imagen2 img{
width: 80%;
}

#contenido{
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 600px) {
  header h1{
    width: 100%;
    text-align: center;
  }
}
