body
{
  background:  #02010a;
  font-family: 'Dancing Script';
  color: white;
}

header
{
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
	padding: 0px;
	width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;

}

header h1{
  width: 80%;

}
#menu{
  margin: auto;
  padding-bottom: 1%;
}
#menu a{
  color: white;
  font-weight: bold;
}
/* Parte de los estilos del menu*/
.inicio{
  text-decoration: none;
}
.paisajes{
  text-decoration: none;
}
.retratos{
  text-decoration: none;
}
footer {
  background: #C6d5c5;
  color: black;
  border-radius: 0px 0px 10px 10px;
	margin:0px;
	padding-top: 10px;
}
#contenedor{
  display: flex;
  flex-flow: row wrap;
}

#contenedor h2{
  text-align: center;
}

.columna1, .columna2, .columna3, .columna4
{

  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
  width: 20%;
}

img{
  display: block;
  margin: auto;
  box-shadow: 2px 2px 2px #02010a;
}
#contenido div {
	box-sizing: border-box;
	min-width: 150px;
	padding: 20px;
}

.imgPrincipal{
  background: #82c3a6;
}

.imgPrincipal img{
  width: 80%;
}

.imagen1, .imagen2{
  background: #d5c75f;
  width: 50%;
  border: 1px;
}
.imagen1 img{
width: 80%;
}
.imagen2 img{
width: 90%;
}
#contenido{
  display: flex;
  flex-flow: row wrap;
}

[class*='retrato']{
  width: 33%;
}
[class*='retrato']>img{
  width: 100%;

}
@media (max-width: 600px) {
  header h1{
    width: 100%;
    text-align: center;
  }
  .imagen1, .imagen2{
  width: 100%;
  }

  .imagen1 img{
  width: 50%;
  }
  .imagen2 img{
  width: 50%;
  }
  [class*='retrato']{
    width: 100%;
  }
  [class*='retrato']>img{
    width: 50%;
  }
  [class*='columna']
  {
    width: 100%;
    padding-left: 10%;
    padding-right: 5%;
    margin: 2%;
  }
}

/* ANIMACIONES INDEX.HTML */

img[src*='imagen2']{
  transition: all 1s ease;
}
img[src*='imagen2']:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px;
}
img[src*='imagen3']{
  transition: all 1s ease;
}
img[src*='imagen3']:hover{
  transform: translate(20px, -5px);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px;
}
